# https://github.com/ScoopInstaller/GithubActions?tab=readme-ov-file#overview-of-validatiors

name: Excavator

on:
  workflow_dispatch:
  schedule:
    # 每天北京时间 00:00、12:00 执行
    - cron: '0 16,4 * * *'

jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@main
      - name: Excavate
        uses: ScoopInstaller/GithubActions@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_UPDATED: "1"